

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-weight: 600;
    
}

nav{
    width:100%;
    position: sticky !important;
    left:0;
    top:0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 900;
    font-style:normal;
}

.nav-link{
   
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    font-style: italic;
}

.nav-link:hover{
  border-bottom: 2px solid white; 
  
}

section{
    width:100%;
    min-height: 100vh;
}

#home{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url("image/ai\ human.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
    }

    #home p{
        position: absolute;
        top:50%;
        font-size: 100px;
        opacity: 0;
        animation: text 3s ease-in-out;
    }

    #home p:nth-child(1){
        animation-delay: 0s;
        font-style: italic;
    }
    #home p:nth-child(2){
        animation-delay: 3s;
        font-style: italic;
    }
    #home p:nth-child(3){
        animation-delay: 6s;
        font-style: italic;
        
    }
    #home p:nth-child(4){
        animation-delay: 9s;
        font-style: italic;
    }

    @keyframes text{
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    #home span{
        color: rgb(153, 255, 0);
    }
    

    #home p{
        font-size: 80px;
    }


    /*about section*/

   
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("image/lap4.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }

        #about::before{
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.363);
            height: 100vh;
            width:100%;
    }
     

       .circle{
        width:380px;
        height: 380px;
        background-color: #c50b97;
        border-radius: 100%;
        position: relative;
        transition: 1s;
    }

    .circle img{
        position: absolute;
        transition: 1s;
        height: 250px;
        bottom: 70px;
        left: 20px;
        border-radius: 50%;
        box-shadow: 0px 5px 50px black;
    }        

    .circle:hover{
        width:700px;
        height: 550px;
        border-radius: 10px;
        transition: 1s;
        
    }

    .circle:hover img{
     position: absolute;
     top:150px;
     left: 0%;
     
     transition: 1s;
    }

    .circle:hover .content{
        position: absolute;
        top:30%;
        right: 0;
        width: 45%;
        color: rgb(0, 0, 0);
        opacity: 1;
        transition: 1s;
    }
    
    .circle .content{
     opacity: 0;
     }


     /*skill section*/

     #skills{
         padding-top: 5%;
         background-color: gainsboro;
         
     }

     
     #skills .container{
         margin-top: 6%;
         margin-bottom: 6%;
     }

     label{
         font-size: 20px;
         color: #000000
     }

     .progress{
         height: 30px !important;
         box-shadow: 3px 4px 5px rgb(0, 0, 0),-2px -2px 5px rgb(218, 208, 208);
     }

     .progress:hover{
        box-shadow: 3px 4px 5px rgb(232, 235, 236),-2px -2px 5px rgb(0, 0, 0); 
     }


     /*project section*/

     #projects{
         display: flex;
         justify-content: center;
         align-items: center;
         padding-top: 3%;
         background: linear-gradient(rgb(119, 196, 226),rgb(243, 80, 243));
         
     }

     .carousel{
         width: 80%;
         height: 80vh;
         background-color: aqua;
         box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.589);
     }

     iframe{
         width: 100%;
         height: 80vh;
     }

     #pricing{
         padding-top: 5%;
     }

     .card{
         margin-top: 15%;
     }

     .card:hover{
         box-shadow: 8px 8px 15px rgb(0, 0, 0);
         transition: .3s;
     }
     

     /*contact section*/

     #contact{
         padding-top: 7%;
         background:linear-gradient(rgb(207, 241, 57),rgb(65, 3, 3));
     }
     

     #contact iframe{
         box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.644);
     }



     
